//npm.pkg.github.com/:_authToken=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
@gerrithoskins:registry=https://npm.pkg.github.com/

//npm.pkg.github.com/:_authToken=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
@gerrit-hoskins:registry=https://npm.pkg.github.com/
